<ion-header>
  <ion-toolbar>
    <ion-title>À propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>À quoi sert cette application ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="../../assets/img/shopping-list.jpg">
      </ion-col>
      <ion-col size="9">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis libero laborum maiores perspiciatis explicabo impedit minus alias nulla tempora iure quam, sequi natus adipisci voluptate placeat! Nihil, perspiciatis. Distinctio, repudiandae.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Notre idée derrière cette application</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aut voluptates iure. Nihil tenetur perspiciatis doloremque deserunt suscipit recusandae, ut deleniti veritatis eveniet laudantium saepe. Sapiente enim perferendis molestias delectus?
        </p>
        <p>
          Pariatur, quod. Sapiente porro corporis ratione temporibus dignissimos nobis sit impedit officia optio. Autem et minus consectetur rerum deleniti doloribus quod placeat laborum, adipisci quasi doloremque incidunt eius ex. Velit?
        </p>
        <p>
          Dolor quibusdam perspiciatis totam numquam autem magni reprehenderit sequi quidem praesentium. Incidunt, saepe repellendus. Cum facere unde ad! Doloribus vitae tempora distinctio iure nisi! Asperiores impedit voluptatem suscipit totam animi!
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>