ion-header {
    --background: #4d8af0;
    --ion-color-primary-contrast: #ffffff;
  
    ion-toolbar {
      --background: var(--background);
      border-bottom: 2px solid darken(#4d8af0, 10%);
    
  
      ion-title {
        text-align: center;
        color: var(--ion-color-primary-contrast);
      }
    }
  
    ion-back-button {
      --color: #fff;
    }
  }
  
  ion-content {
    background-color: #f4f5f8;
    text-align: center;
  
    ion-button {
      --background: #ff9500;
      --color: #ffffff;
      margin: 8px 0;
  
      ion-icon {
        --color: #ffffff;
      }
    }
  
    .text-center {
      text-align: center;
    }
  
    ion-grid {
      padding: 16px;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
      }
  
      strong {
        color: #333;
        font-size: 28px;
      }
    }
  
    ion-item {
      --padding-start: 8px;
      --inner-padding-end: 8px;
      --border-style: solid;
      --border-width: 1px;
      --input-color: #666;
      --placeholder-color: #999;
    }
  
    ion-input {
      --padding-start: 8px;
      --padding-end: 8px; 
    }
  }
  
  // Responsive settings :
  @media (max-width: 600px) {
    ion-col[size="6"] {
      size: 12;
    }
  }
  