<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste de mes achats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Création d'un nouveau film</h2>
  <ion-button routerLink="/films/new">Création</ion-button>
  <h2>Liste des films</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let achat of achats">
        <ion-card [routerLink]="['/achat-list', achats.id]">
          <img [src]="achats.image" [alt]="achats.name">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
