<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Votre liste d'achats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let achat of achats">
        <ion-card [routerLink]="[achat.id]">
          <img [src]="achat.image" [alt]="achat.name">
          <h6>{{achat.name}}</h6>
          <h4>{{achat.price + "€"}}</h4>
          <p>{{achat.desc}}</p>
          <p>{{achat.link}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="centered-button-container">
    <ion-button routerLink="new">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </div>
</ion-content>
