<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Votre liste d'achats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Un article semble intéressant ? mettez-le dans votre liste d'achat pour l'acquérir plus tard !</p>
    <p>Ainsi, vous pouvez suivre votre liste et décider quel article acquérir !</p>
  </div>

</ion-content>
